html
    head
        link( rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
    body

        .row
            .col-1
            .col-10
                nav.navbar.navbar-expand-lg.navbar-light.bg-light
                    a.navbar-brand(href='#') Navbar
                    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                        span.navbar-toggler-icon
                    #navbarSupportedContent.collapse.navbar-collapse
                        ul.navbar-nav.mr-auto
                            li.nav-item.active
                                a.nav-link(href='#')
                                    | Home
                                    span.sr-only (current)
                            li.nav-item
                                a.nav-link(href='#') Link
                            li.nav-item.dropdown
                                a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                                    | Dropdown
                                .dropdown-menu(aria-labelledby='navbarDropdown')
                                    a.dropdown-item(href='#') Action
                                    a.dropdown-item(href='#') Another action
                                    .dropdown-divider
                                    a.dropdown-item(href='#') Something else here
                            li.nav-item
                                a.nav-link.disabled(href='#') Disabled
                            li.nav-item
                                a.nav-link(href='/product/create') create
                        form.form-inline.my-2.my-lg-0
                            input.form-control.mr-sm-2(type='search', placeholder='Search', aria-label='Search')
                            button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search
            .col-3
            .col-6
                form(action='/product/create' , method='POST')
                    .form-group
                        label(for='link_product') link product
                        input#link_product.form-control(type='text', placeholder='full link' ,name ='product_link')
                    .form-group
                        label(for='product_name') Name Product
                        input#product_name.form-control(type='text', placeholder='Product Name' , name='product_name')
                    .form-group
                        label(for='cost') Cost
                        input#cost.form-control(type='text', placeholder='cost' , name='product_cost')
                    .form-group
                        label(for='description') Description
                        input#description.form-control(type='text', placeholder='description' , name='product_description')

                    button.btn.btn-primary(type='submit') Submit
