html
    head
        link( rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
    body
        .container
            .row
                .header.col-12
                    nav.navbar.navbar-expand-lg.navbar-light.bg-light
                        a.navbar-brand(href='#') Navbar
                        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                            span.navbar-toggler-icon
                        #navbarSupportedContent.collapse.navbar-collapse
                            ul.navbar-nav.mr-auto
                                li.nav-item.active
                                    a.nav-link(href='#')
                                        | Home
                                        span.sr-only (current)
                                li.nav-item
                                    a.nav-link(href='#') Link
                                li.nav-item.dropdown
                                    a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                                        | Dropdown
                                    .dropdown-menu(aria-labelledby='navbarDropdown')
                                        a.dropdown-item(href='#') Action
                                        a.dropdown-item(href='#') Another action
                                        .dropdown-divider
                                        a.dropdown-item(href='#') Something else here
                                li.nav-item
                                    a.nav-link.disabled(href='#') Disabled
                                li.nav-item
                                    a.nav-link(href='/product/create') add
                            form.form-inline.my-2.my-lg-0
                                input.form-control.mr-sm-2(type='search', placeholder='Search', aria-label='Search')
                                button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search
            .button.mt-5.mb-5
                button(class="btn btn-info toPersion" ) Persion
                button(class="btn btn-success toProduct" ) Product
            .d-flex
                if(products)
                    each product in products
                        .product.col-sm-3.col-md-3.p-2
                            .card.h-100
                                img.card-img-top(src= product.product_link, alt='Card image cap')
                                .card-body
                                    h5.card-title= product.product_name
                                    p.card-text= product.product_cost
                                .card-footer
                                    button.button-order.btn.btn-warning Buy


        script.
            let toPersion = document.getElementsByClassName('toPersion')[0];
            let toProduct = document.getElementsByClassName('toProduct')[0];
            toPersion.click(function () {
                window.location = "http://localhost:5000/persion";
            });
            toProduct.click(function () {
                window.location = "http://localhost:5000/product";
            });