doctype html
link#bootstrap-css(href='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css' rel='stylesheet')
script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
// ---- Include the above in your HEAD tag --------
head
    title Login Page
    // Made with love by Mutiullah Samim
    // Bootsrap 4 CDN
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css' , crossorigin='anonymous')
    // Fontawesome CDN
    link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.3.1/css/all.css' , crossorigin='anonymous')
    // Custom styles
    link(rel='stylesheet' type='text/css' href='/login.css')
.container
    .d-flex.justify-content-center.h-100
        .card
            .card-header
                h3 Sign In
                .d-flex.justify-content-end.social_icon
                    span
                        i.fab.fa-facebook-square
                    span
                        i.fab.fa-google-plus-square
                    span
                        i.fab.fa-twitter-square
            .card-body
                form(action="/login" , method="post")
                    .input-group.form-group
                        .input-group-prepend
                            span.input-group-text
                                i.fas.fa-user
                        input.form-control(type='text' placeholder='username' name='username')
                    .input-group.form-group
                        .input-group-prepend
                            span.input-group-text
                                i.fas.fa-key
                        input.form-control(type='password' placeholder='password'  name='password')
                    .row.align-items-center.remember
                        input(type='checkbox')
                        | Remember Me
                    .form-group
                        input.btn.float-right.login_btn(type='submit' value='Login')
            .card-footer
                .d-flex.justify-content-center.links
                    | Don&apos;t have an account?
                    a(href='/register') Sign Up
                .d-flex.justify-content-center
                    a(href='#') Forgot your password?
