doctype html
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title Bootstrap Sign up Form with Rounded Social Buttons
    link(href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    link(rel='stylesheet' type='text/css' href='/register.css')

.signup-form
    form(action='/register' method='post')
        h2 Create an Account
        p.hint-text Sign up with your social media account or email address
        .social-btn.text-center
            a.btn.btn-primary.btn-lg(href='#')
                i.fa.fa-facebook
                |  Facebook
            a.btn.btn-info.btn-lg(href='#')
                i.fa.fa-twitter
                |  Twitter
            a.btn.btn-danger.btn-lg(href='#')
                i.fa.fa-google
                |  Google
        .or-seperator
            b or
        .form-group
            input.form-control.input-lg(type='text' name='username' placeholder='Username' required='required' )
        .form-group
            input.form-control.input-lg(type='email' name='email' placeholder='Email Address' required='required' )
        .form-group
            input.form-control.input-lg(type='password' name='password' placeholder='Password' required='required')
        .form-group
            input.form-control.input-lg(type='password' name='confirm_password' placeholder='Confirm Password' required='required')
        .form-group
            button.btn.btn-success.btn-lg.btn-block.signup-btn(type='submit') Sign Up
    .text-center
        | Already have an account?
        a(href='/login') Login here
