html
    head
        link( rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
    body

        .row
            .col-1
            .col-10
                nav.navbar.navbar-expand-lg.navbar-light.bg-light
                    a.navbar-brand(href='#') Navbar
                    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                        span.navbar-toggler-icon
                    #navbarSupportedContent.collapse.navbar-collapse
                        ul.navbar-nav.mr-auto
                            li.nav-item.active
                                a.nav-link(href='#')
                                    | Home
                                    span.sr-only (current)
                            li.nav-item
                                a.nav-link(href='#') Link
                            li.nav-item.dropdown
                                a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                                    | Dropdown
                                .dropdown-menu(aria-labelledby='navbarDropdown')
                                    a.dropdown-item(href='#') Action
                                    a.dropdown-item(href='#') Another action
                                    .dropdown-divider
                                    a.dropdown-item(href='#') Something else here
                            li.nav-item
                                a.nav-link.disabled(href='#') Disabled
                            li.nav-item
                                a.nav-link(href='/login') Login
                        form.form-inline.my-2.my-lg-0
                            input.form-control.mr-sm-2(type='search', placeholder='Search', aria-label='Search')
                            button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search
            .col-3
            .col-6
                form(action='/persion/update' , method='POST')
                    input(type="hidden" , name="_id" , value=customers._id ? customers._id : "")
                    .form-group
                        label(for='name') Name
                        input#name.form-control(type='text', placeholder='full name' ,name ='name' value = customers.name ? customers.name : "")
                        small.form-text.text-muted We&apos;ll carefull when share your name with anyone else.
                    .form-group
                        label(for='adress') Adress
                        input#adress.form-control(type='text', placeholder='adress' , name='adress' value = customers.adress ? customers.adress : "")
                    .form-group
                        label(for='phone') NumberPhone
                        input#phone.form-control(type='text', placeholder='phone' , name='phone' value = customers.phone ? customers.phone : "")
                    .form-group
                        label(for='email') Email
                        input#email.form-control(type='text', placeholder='email' , name='email' value = customers.email ? customers.email : "")
                    button.btn.btn-primary(type='submit') Submit
