html
    head
        link( rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
        script (src = "https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js" , crossorigin = "anonymous")
        script (src = "http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" , crossorigin = "anonymous")
        script (src = "https://code.jquery.com/jquery-3.1.1.min.js" , crossorigin = "anonymous")
    body
        .container
            .row
                .header.col-12
                    nav.navbar.navbar-expand-lg.navbar-light.bg-light
                        a.navbar-brand(href='#') Navbar
                        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                            span.navbar-toggler-icon
                        #navbarSupportedContent.collapse.navbar-collapse
                            ul.navbar-nav.mr-auto
                                li.nav-item.active
                                    a.nav-link(href='#')
                                        | Home
                                        span.sr-only (current)
                                li.nav-item
                                    a.nav-link(href='#') Link
                                li.nav-item.dropdown
                                    a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                                        | Dropdown
                                    .dropdown-menu(aria-labelledby='navbarDropdown')
                                        a.dropdown-item(href='#') Action
                                        a.dropdown-item(href='#') Another action
                                        .dropdown-divider
                                        a.dropdown-item(href='#') Something else here
                                li.nav-item
                                    a.nav-link.disabled(href='#') Disabled
                                li.nav-item
                                    a.nav-link(href='/login') add
                            form.form-inline.my-2.my-lg-0
                                input.form-control.mr-sm-2(type='search', placeholder='Search', aria-label='Search')
                                button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search
            .button
                button(class="btn btn-info toPersion" ) Persion
                button(class="btn btn-success toProduct" ) Product
            table.table
                thead
                    tr
                        th(scope='col') Name
                        th(scope='col') Adress
                        th(scope='col') Phone
                        th(scope='col') Email
                        th(scope='col') Action_one
                        th(scope='col') Action_two
                        th(scope='col') Action_three
                if(customers)
                    each customer in customers
                        tr
                            th(scope='col')= customer.username
                            th(scope='col')= customer.adress
                            th(scope='col')= customer.phone
                            th(scope='col')= customer.email
                            th(scope='col')
                                form(action="persion/delete")
                                    input(type="hidden" , name="_id" , value=customer._id)
                                    button(class="btn btn-danger" ) Delete
                            th(scope='col')
                                form(action="persion/update")
                                    input(type="hidden" , name="_id" , value=customer._id)
                                    button(class="btn btn-success") Update
                            th(scope='col')
                                form(action="/product")
                                    input(type="hidden" , name="_id" , value=customer._id)
                                    button(class="btn btn-success") Product

        script.
            let toPersion = document.getElementsByClassName('toPersion')[0];
            let toProduct = document.getElementsByClassName('toProduct')[0];
            toPersion.click(function () {
                window.location = "http://localhost:5000/persion";
            });
            toProduct.click(function(){
                window.location = "http://localhost:5000/product";
            });

